body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(131, 16, 238, 0.56);
}

.login{
    background-color: rgba(10, 10, 10, 1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 80px;
    border-radius: 15px;
    color: white;
}

h1{
    text-align: center;
}

input{
    margin: 5px;
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
}

button{
    background-color: rgba(37, 110, 203, 1);
    padding: 15px;
    margin: 5px;
    border: none;
    width: 100%;
    border-radius: 10px;
    color:white;
    font-size: 15px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(68, 64, 172);
}

button:focus{
    background-color: rgb(189, 88, 88);
}